{% load thumbnail %}
<article>
  <ul>
    {% if all_author_posts_link %} 
      <a class="btn btn-outline-secondary" href="{% url 'posts:profile' post.author.username %}">Автор: {{ post.author.get_full_name }}</a><br>
    {% endif %}
    <small>Дата публикации: {{ post.pub_date|date:"d E Y" }}</small>
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{ post.text }}</p>
    <a class="btn btn-light btn-sm" href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
    {% if post.group and all_group_posts_link %}
      <a class="btn btn-light btn-sm" href="{% url 'posts:group_list' post.group.slug %}">Группа: {{ post.group }}</a>
    {% endif %}
  </ul>
</article>
{% if not forloop.last %}<hr>{% endif %}
