{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %} 
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post.pub_date|date:"d E Y"}}
          </li>
          {% if post.group %}
            <li class="list-group-item">
              Группа: {{ post.group }} <br>
              <a class="btn btn-light btn-sm" href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
            </li>
          {% endif %} 
          <li class="list-group-item">
            Автор: {{ post.author.get_full_name }} <br>
            <a class="btn btn-light btn-sm" href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: {{ post.author.posts.count }}
          </li>
          {% if request.user == post.author %}
          <li class="list-group-item">
            <a class="btn btn-danger" href="{% url 'posts:post_delete' post.pk %}">удалить пост</a>
          </li>
          {% endif %}
        </ul>
      </aside>
        <article class="col-12 col-md-9">
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>
            {{ post.text }}
          </p>
          {% if request.user == post.author %}
          <li class="list-group-item">
            <a class="btn btn-dark" href="{% url 'posts:post_edit' post.pk %}">редактировать пост</a>
          </li>
          {% endif %}
          {% load user_filters %}

          {% if user.is_authenticated %}
            <div class="card my-4">
              <h5 class="card-header">Добавить комментарий:</h5>
              <div class="card-body">
                <form method="post" action="{% url 'posts:add_comment' post.id %}">
                  {% csrf_token %}
                  {% for field in form %}
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}
                    </label>       
                    <div class="form-group mb-2">
                      {{ form.text|addclass:"form-control" }}
                      {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                          {{ field.help_text|safe }}
                        </small>
                      {% endif %}
                    </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-dark">Отправить</button>
                </form>
              </div>
            </div>
          {% endif %}

          {% for comment in comments %}
            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0">
                  <a class="btn btn-outline-secondary" href="{% url 'posts:profile' comment.author.username %}">
                    {{ comment.author.get_full_name }}
                  </a>
                </h5>
                <span><small>{{ comment.created|date:"d E Y, G:i" }}</small></span>
                <p>
                  {{ comment.text }}
                </p>
              </div>
            </div>
          {% endfor %} 
        </article>
    </div>
  </div>
{% endblock %}

